.mail-header {
  position: sticky;
  border: 0.5px solid var(--keep-border);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.mail-header img {
  width: 45px;
  border-radius: 50%;
}

.search-mail {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  max-width: 500px;
}

.search-input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #ccc;
  padding: 6px 20px;
  background-color: #f8f9fa;
  transition: border 0.3s ease;
}

.search-input input {
  border: none;
  outline: none;
  justify-self: unset;
  flex-grow: 1;
  padding: 8px;
  font-size: 14px;
  background-color: transparent;
  color: #202124;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #5f6368;
  cursor: pointer;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.search-optins-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #5f6368;
  cursor: pointer;
  margin-left: 12px;
  transition: color 0.3s ease;
}

.search-icon:hover,
.search-optins-icon:hover {
  background-color: #f2f2f2;
  box-shadow: 0 0 0 6px #f2f2f2;
  border-radius: 50%;
}

.search-input:focus-within {
  background-color: white;
}

.search-input input::placeholder {
  color: #888;
}

.humburger {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #5f6368;
}

.humburger:hover {
  background-color: #f2f2f2;
  box-shadow: 0 0 0 6px #f2f2f2;
  border-radius: 50%;
}

.search-mail .search-optins-icon {
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mail-header {
    padding: 10px 15px;
  }

  .search-mail {
    max-width: 350px;
  }

  .search-input {
    padding: 5px 15px;
  }

  .search-icon {
    font-size: 20px;
  }

  .search-optins-icon {
    font-size: 16px;
  }

  .humburger {
    font-size: 24px;
  }
}

.unread-count {
  display: flex;
  align-items: center;

  border-radius: 20px;
  padding: 5px 10px;
  color: #202124;
  font-size: 14px;
  font-weight: 500;
  margin-left: 20px;
  min-width: 80px;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.unread-count span {
  margin-right: 5px;
}

.unread-count:hover {
  background-color: #f2f2f2;
}
