.main-mail-layout {
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.mail-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.mail-item.read {
  background: #f5f5f5;
}

.mail-item:hover {
  box-shadow: inset 1px 0 0 rgb(218, 220, 224),
    inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 2;
}

.mail-item svg:hover {
  background-color: #f2f2f2;
  box-shadow: 0 0 0 4px #f2f2f2;
  border-radius: 50%;
}

.mail-sent-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
  margin-right: 100px;
}

.sent-by {
  flex-shrink: 0;
  width: 150px;
  margin-inline-start: 0.7rem;
  margin-right: 1rem;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mail-title {
  flex-grow: 1;
  margin-right: 10px;
  font-weight: 500;
  color: #444;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mail-body {
  flex-grow: 1;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mail-shortcut {
  display: flex;
  gap: 0.4rem;
}

.mail-actions {
  position: absolute;
  right: 12px;
  display: flex;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.mail-item:hover .mail-actions {
  opacity: 1;
}

.mail-actions div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.mail-actions div:hover {
  background-color: rgba(32, 33, 36, 0.059);
}

.mail-actions svg {
  width: 20px;
  height: 20px;
}
