.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.clean-btn {
  all: unset;
  cursor: pointer;
}

.clean-input {
  border: none;
  background: none;
  width: 100%;
}

.clean-input:focus {
  outline: none;
  border: none;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clean-list li {
  padding: 4px 0;
}
