:root {
    --bg1: lightblue;
    --bg2: rgb(50, 160, 204);
    --bg3: rgb(89, 134, 206);
    
    --color1: rgb(26, 115, 232);
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);

    --gray2: #aaa;
    --gray2: #888;
    --gray2: #33
    


    
    --keep-filter-bg: #f1f3f4;
    --keep-filter-bg: #f1f3f4;
    --keep-bg: #fff;

    --keep-header-bg: #f1f3f4;
    --keep-text: #202124;
    --keep-secondary-text: #5152533a; 
    --keep-border: #dadce0; 
    --keep-sidebar-hover: #f2f4f7; 

   
    --keep-note-white: #ffffff;
    --keep-note-red: #f28b82;
    --keep-note-orange: #fbbc04;
    --keep-note-yellow: #fff475;
    --keep-note-green: #ccff90;
    --keep-note-teal: #a7ffeb;
    --keep-note-blue: #cbf0f8;
    --keep-note-darkblue: #aecbfa;
    --keep-note-purple: #d7aefb;
    --keep-note-pink: #fdcfe8;
    --keep-note-brown: #e6c9a8;
    --keep-note-gray: #e8eaed;

 
    --keep-font-primary: 'Roboto', sans-serif;
    --keep-font-secondary: 'Noto Sans', sans-serif;
    --keep-font-size: 16px;

    --keep-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    --keep-hover-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}