.notes-header {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  align-items: center;
  margin-top: 0.7rem;
}

.new-notes i {
  cursor: pointer;
}

.new-notes i:not(:last-child) {
  margin-right: 10px;
}
