/* note list */

.note-list {
  column-count: auto;
  column-width: 250px;
  padding: 0 7.5px;
  /* margin-top: 130px; */
  overflow-y: auto;
  margin-left: auto;
}
.note-item {
  break-inside: avoid;
}

/* Reduce to 3 columns on medium screens */
@media (max-width: 1200px) {
  .note-list {
  }
}

@media (max-width: 900px) {
  .note-list {
  }
}

@media (max-width: 600px) {
  .note-list {
  }
}
