.notes-header {
  padding: 10px;
  height: 5.1vh;
  border: 0.5px solid var(--keep-border);
  display: flex;
  align-items: center;
  gap: 80px;
}

.note-filter-container {
  flex-grow: 1;
}

.note-header-utils {
  background-color: red;
  margin-left: auto;
}
.notes-header .keep-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.note-header-logos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.new-notes i {
  cursor: pointer;
}

.new-notes i:not(:last-child) {
  margin-right: 10px;
}
