.notes-header {
  padding: 10px;
  height: 5.1vh;
  border: 0.5px solid var(--keep-border);
  display: flex;
  align-items: center;
  gap: 80px;
  position: sticky;
  top: 80px;
  background-color: #fff;
}

.note-filter-container {
  flex-grow: 1;
}

.note-header-utils {
  margin-left: auto;
  display: flex;
  gap: 40px;
  padding-right: 40px;
}

.keep-utils-btns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  button {
    width: 32px;
  }
}

.keep-utils-btns button:hover,
.google-utils-btns button:hover {
  background-color: red;
  background-color: var(--keep-sidebar-hover);
  border-radius: 50%;
}

.google-utils-btns {
  display: flex;
  width: 60px;
  gap: 20px;
}
.notes-header .keep-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.note-header-logos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.new-notes i {
  cursor: pointer;
}

.new-notes i:not(:last-child) {
  margin-right: 10px;
}
