.note-sidebar {
  grid-column: 1;
  padding-top: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 280px;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease, box-shadow 0.3s ease;
}

.note-sidebar svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.note-sidebar button {
  all: unset;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  height: 48px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.note-sidebar-btn {
  display: flex;
  align-items: center;
  gap: 16px;
}

.note-sidebar button > * {
  padding: 8px;
}

.note-sidebar .active {
  background-color: rgb(254, 239, 195); /* צבע רקע בעת לחיצה */
  border-radius: 0 2rem 2rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.note-sidebar a {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border-radius: 0 2rem 2rem 0;
  transition: background-color 0.3s ease;
}

.note-sidebar a:hover {
  background-color: #f1f3f4; /* צבע רקע בעת ריחוף */
  border-radius: 0 2rem 2rem 0;
}

.note-sidebar.open {
  width: 280px;
}

.note-sidebar.close {
  width: 60px;
  background-color: #f1f3f4;
  box-shadow: none;
}

.note-sidebar .close .note-sidebar-btn {
  justify-content: center;
}

.note-sidebar .close button {
  padding-left: 0;
}
