.note-sidebar {
  grid-column: 1;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.6rem;
  padding: 6px;
  font-size: 0.6rem;
}

.note-sidebar button {
  all: unset;
  cursor: pointer;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}

.note-sidebar button > * {
  padding: 6px;
}
.note-sidebar .active {
  box-shadow: 0 0 0 3px rgba(128, 128, 128, 0.265);
  border-radius: 1rem;
  background-color: rgba(128, 128, 128, 0.265);
}
.note-sidebar button:hover:not(:has(.active)) {
  border: 3px solid rgba(128, 128, 128, 0.265);
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.burger-container {
  transform: scale(0.5);
  display: inline-block;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
